<div class= "banner">
<h1>Cocktails & the city</h1>
<h2>'Why did we ever stop drinking these?</h2>
<h2>Cause everyone else started'</h2>
</div>
<div><%= link_to "Add a cocktail", new_cocktail_path %></div>
<br>
<ol>
  <% @cocktails.each do |cocktail| %>
  <li><%= link_to cocktail.name, cocktail_path(cocktail)%></li>
  <%end%>
</ol>
