

.banner {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url("https://images.pexels.com/photos/4295/black-and-white-alcohol-bar-drinks.jpg?cs=srgb&dl=alcohol-alcoholic-bar-4295.jpg&fm=jpg");
  background-size: cover;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Playfair Display', serif;
  color: white;
}

.banner h3 {
  font-size: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Playfair Display', serif;
  color: white;
}
